<ion-content fullscreen>
  <div class="background"></div>

  <div class="content">
    <div class="form-container">

      <!-- Seta de voltar -->
      <ion-button fill="clear" routerLink="/welcome" class="back-button">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>

      <h1>Login</h1>
      <p>Entre com sua conta para continuar</p>

      <div class="inputs-group">
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" [(ngModel)]="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Senha</ion-label>
          <ion-input type="password" [(ngModel)]="password"></ion-input>
        </ion-item>
      </div>

      <ion-button expand="block" class="login" (click)="onSignIn()">Entrar</ion-button>
    </div>
  </div>
</ion-content>
