<ion-content fullscreen>
  <div class="background"></div>

  <div class="content">
    <div class="form-container">

      <!-- Seta de voltar -->
      <ion-button fill="clear" routerLink="/welcome" class="back-button">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>

      <h1>Criar Conta</h1>
      <p>Preencha os dados abaixo ou use sua conta Google</p>

      <div class="inputs-group">
        <ion-item>
          <ion-label position="floating">Nome completo</ion-label>
          <ion-input type="text" [(ngModel)]="name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" [(ngModel)]="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Senha</ion-label>
          <ion-input type="password" [(ngModel)]="password"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Confirmar senha</ion-label>
          <ion-input type="password" [(ngModel)]="confirmPassword"></ion-input>
        </ion-item>
      </div>

      <!-- Botão de cadastro normal -->
      <ion-button expand="block" class="login" (click)="onSignUp()">Cadastrar</ion-button>

      <!-- Botão de cadastro/login com Google -->
      <ion-button expand="block" fill="outline" color="danger" (click)="loginGoogle()" style="margin-top: 15px;">
        <ion-icon slot="start" name="logo-google"></ion-icon>
        Continuar com Google
      </ion-button>

    </div>
  </div>
</ion-content>
