<ion-header>
  <ion-toolbar class="header-blur">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>Feedback</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <div class="center-wrapper">
    <ion-card class="section">
      <ion-card-header>
        <ion-card-title>
          <ion-icon name="chatbubble-outline" class="icon-title"></ion-icon>
          Envie seu feedback
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <form (ngSubmit)="submitFeedback()">

          <ion-item class="input-item">
            <ion-label position="stacked">Nome</ion-label>
            <ion-input placeholder="Seu nome" [(ngModel)]="model.name" name="name"></ion-input>
          </ion-item>

          <ion-item class="input-item">
            <ion-label position="stacked">Email</ion-label>
            <ion-input type="email" placeholder="seu@email.com"
              [(ngModel)]="model.email" name="email"></ion-input>
          </ion-item>

          <ion-item class="input-item">
            <ion-label position="stacked">Mensagem</ion-label>
            <ion-textarea placeholder="Escreva seu feedback..."
              [(ngModel)]="model.message" name="message"></ion-textarea>
          </ion-item>

          <ion-button expand="block" type="submit" class="save-button">
            Enviar Feedback
          </ion-button>

        </form>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
