<ion-header>
  <ion-toolbar class="header-blur">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>Cadastrar Sensor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <div class="center-wrapper">
    <ion-card class="section">
      <ion-card-header>
        <ion-card-title>
          <ion-icon name="hardware-chip-outline" class="icon-title"></ion-icon>
          Novo Sensor
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>

        <form (ngSubmit)="cadastrarSensor()" #sensorForm="ngForm">

          <ion-item class="input-item">
            <ion-label position="stacked">Nome do Sensor</ion-label>
            <ion-input 
              type="text" 
              [(ngModel)]="sensor.nome" 
              name="nome" 
              required
              [disabled]="enviando">
            </ion-input>
          </ion-item>

          <ion-item class="input-item">
            <ion-label position="stacked">Localização</ion-label>
            <ion-input 
              type="text" 
              [(ngModel)]="sensor.localizacao" 
              name="localizacao"
              [disabled]="enviando">
            </ion-input>
          </ion-item>

          <ion-item class="input-item">
            <ion-label position="stacked">Tipo de Sensor</ion-label>
            <ion-input 
              type="text" 
              [(ngModel)]="sensor.tipo" 
              name="tipo"
              [disabled]="enviando">
            </ion-input>
          </ion-item>

          <ion-item class="input-item">
            <ion-label position="stacked">MAC Address / Código do ESP32</ion-label>
            <ion-input 
              type="text" 
              [(ngModel)]="sensor.mac" 
              name="mac" 
              required
              [disabled]="enviando">
            </ion-input>
          </ion-item>

          <!-- BOTÃO COM LOADING -->
          <ion-button 
            expand="block" 
            type="submit"
            class="save-button"
            [disabled]="!sensorForm.form.valid || enviando">

            <ng-container *ngIf="!enviando; else loadingTpl">
              <ion-icon slot="start" name="add-outline"></ion-icon>
              Cadastrar Sensor
            </ng-container>

            <ng-template #loadingTpl>
              <ion-spinner name="dots"></ion-spinner>
              <span style="margin-left:8px;">Cadastrando...</span>
            </ng-template>

          </ion-button>

        </form>
        
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
