ion-content {
  --background: #1c1c1c;
  color: #fff;
}

ion-item {
  --background: #111;
  --color: #fff;
  margin-bottom: 10px;
  border-radius: 8px;
}

ion-label {
  color: #ccc !important;
}

ion-input {
  color: #fff !important;
}

ion-button {
  font-weight: bold;
}
