ion-content {
  --background: #121212;
  color: #fff;
}

ion-item.menu-item {
  --background: transparent;
  --color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  margin: 4px 12px;
  transition: 0.3s ease all;
}

ion-item.menu-item:hover {
  background: rgba(255, 255, 255, 0.08);
}
