<ion-header>
  <ion-toolbar class="header-blur">
    <ion-buttons slot="start">
      <ion-button (click)="goToMenu()">
        <ion-icon name="menu-outline" class="menu-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <div class="home-wrapper">

    <!-- 🔥 ÚLTIMO ALERTA REAL -->
    <div class="mini-card alert-card fade" *ngIf="lastEvent">
      <ion-icon name="alert-circle-outline" class="alert-icon"></ion-icon>
      <div>
        <h2>{{ lastEvent.mensagem }}</h2>
        <p>Último alerta - {{ lastEvent.hora }}</p>
      </div>
    </div>

    <!-- Toggle monitoramento -->
    <div class="mini-card inline-card fade">
      <span>Monitoramento</span>
      <ion-toggle></ion-toggle>
    </div>

    <!-- Status -->
    <div class="status fade">
      <h2>Status do Dispositivo</h2>
      <p class="online">Online</p>
    </div>

    <!-- Histórico -->
    <div class="history fade">
      <h2>Histórico de Notificações</h2>

      <div class="table-header">
        <span>Data/Hora</span>
        <span>Tipo</span>
        <span>Dispositivo</span>
      </div>

      <!-- 🔥 EVENTOS REAIS -->
      <div class="table-row" *ngFor="let e of events">
        <span>{{ e.data }} - {{ e.hora }}</span>
        <span>{{ e.mensagem }}</span>
        <span>{{ mac }}</span>
      </div>

    </div>

  </div>

</ion-content>
