<ion-header>
  <ion-toolbar class="header-blur">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu"></ion-back-button>
    </ion-buttons>
    <ion-title>Programar alerta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <div class="page-wrapper">

    <form (ngSubmit)="scheduleAlert()">

      <!-- Horários -->
      <ion-card class="section">
        <ion-card-header>
          <ion-card-title>Horário</ion-card-title>
        </ion-card-header>
        <ion-card-content>

          <ion-item class="input-item">
            <ion-label position="stacked">Hora de início</ion-label>
            <ion-input maxlength="5" name="startTime"
                       [(ngModel)]="model.startTime"
                       (ionInput)="maskTime($event)"
                       placeholder="HH:MM">
            </ion-input>
          </ion-item>

          <ion-item class="input-item">
            <ion-label position="stacked">Hora de fim</ion-label>
            <ion-input maxlength="5" name="endTime"
                       [(ngModel)]="model.endTime"
                       (ionInput)="maskTime($event)"
                       placeholder="HH:MM">
            </ion-input>
          </ion-item>

        </ion-card-content>
      </ion-card>


      <!-- Dias da semana -->
      <ion-card class="section">
        <ion-card-header>
          <ion-card-title>Dias da semana</ion-card-title>
        </ion-card-header>
        <ion-card-content>

          <ion-item class="input-item">
            <ion-select [(ngModel)]="model.dias" name="dias" multiple="true">
              <ion-select-option *ngFor="let d of diasSemana" [value]="d.id">
                {{ d.nome }}
              </ion-select-option>
            </ion-select>
          </ion-item>

        </ion-card-content>
      </ion-card>


      <!-- Dispositivo -->
      <ion-card class="section">
        <ion-card-header>
          <ion-card-title>Dispositivo</ion-card-title>
        </ion-card-header>
        <ion-card-content>

          <ion-item class="input-item">
            <ion-select [(ngModel)]="model.device" name="device">
              <ion-select-option *ngFor="let d of devices" [value]="d.mac">
                {{ d.nome }} ({{ d.mac }})
              </ion-select-option>
            </ion-select>
          </ion-item>

        </ion-card-content>
      </ion-card>

      <!-- Botão -->
      <ion-button class="save-button" expand="block" type="submit" [disabled]="!isFormValid()">
        Salvar alerta
      </ion-button>

    </form>

  </div>

</ion-content>
